button {
    background-color: black;
    color: #729fcf;
    font-size: 9pt;
    text-shadow: #204a87 1px 1px 1px;
    font-weight: bold;
}
button:hover {
    background-color: #729fcf;
    color: #2e3436;
    font-weight: bold;
}
button:active {
    background-color: yellow;
}
window {
    background-color: black;
}
button:focus {
    background-color: #729fcf;
    color: #2e3436;
    border: 1px solid #bbb;
}
