window {
    background-color: black;
}
entry {
    background-color: black;
    color: #729fcf;
    border: 0px;
}
url_label {
  color: red;
  background: #8ae234;
}
flowbox button {
    background-color: black;
    color: #bbb;
}
flowbox button:hover {
    background-color: #729fcf;
    color: #333;
}
window {
    background-color: black;
}
flowbox flowboxchild:selected,
flowbox flowboxchild:selected:focus {
     border: 2px solid #729fcf;
     background-color: black;
 }
