window {
    background-color: black;
}
entry {
    font-size: 9pt;
    font-weight: bold;
    background-color: black;
    color: #ddd;
    border: 0px;
}
url_label {
  color: red;
  background: #8ae234;
}
flowbox button {
    background-color: black;
    color: #729fcf;
    font-size: 9pt;
    text-shadow: #204a87 1px 1px 1px;
    font-weight: bold;
}
flowbox button:hover {
    background-color: #729fcf;
    text-shadow: #000 1px 1px 1px;
    color: #eee;
}
window {
    background-color: black;
}
flowbox flowboxchild:selected,
flowbox flowboxchild:selected:focus {
     border: 2px solid #729fcf;
     background-color: black;
 }
